{% extends 'project/layout/base.html' %}

{% block title %}
    Şifre Değiştir
{% endblock %}

{% block top %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Şifre Değiştirme!</h1>
      <p>Merhaba {{ user.username }}, aşağıdaki formu kullanarak şifrenizi değiştirebilirsiniz.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Şifre Değiştir</button>
</form>
{% endblock %}