{% extends 'project/layout/base.html' %}

{% block title %}
    Şifre Sıfırlama
{% endblock %}

{% block top %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Şifre Sıfırlama!</h1>
      <p>Aşağıdaki formu kullanarak şifrenizi sıfırlayabilirsiniz.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Şifre sıfırlama için çıkış yapılması gerekmektedir.
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Şifre Sıfırla</button>
        </form>
    {% endif %}
{% endblock %}