{% extends 'project/layout/base.html' %}

{% block title %}
    Şifre Sıfırlama
{% endblock %}

{% block top %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Şifre Sıfırlama!</h1>
      <p>Şifre sıfırlama emaili gönderildi.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
    Email adresinize şifrenizi sıfırlamanız için gerekli talimatlar gönderilmiştir.
    <br><br>
    Eğer sıfırlama emaili gelmez ise kayıt olduğunuz email adresini doğru girdiğinizden emin olun ve spam klasörünü kontrol ediniz.
{% endblock %}